.navbar {
    /* background: rgb(88, 88, 88); */
    background-color: #0d41e1;
}

/* .navbar-container {
    background: yellow;
} */

.logo {
    width: 200px;
}

.lg-div{
    background: #fff;
    border-radius: 10px;
}

.log-out-btn {
    color: #fff;
}